---
const licenseplate = import.meta.env.LICENSEPLATE;
---

<div id="container" class="mx-auto container">
  <main>
    <section id="hero">
      <a href="https://astro.build"></a>
      <h1 class="mx-auto">
        Vanakkam da potta For License Plate Click Below <br />
      </h1>
      <section id="links">
        <a class="button h1" href="/licenseplate">Licenseplate model</a>
      </section>
    </section>
  </main>
</div>
