---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

const parkingslots = [
  { id: "A01", status: false },
  { id: "A02", status: false },
  { id: "A03", status: false },
  { id: "A04", status: false },
  { id: "A05", status: false },
  { id: "A06", status: true },
  { id: "B01", status: true },
  { id: "B02", status: false },
  { id: "B03", status: false },
  { id: "B04", status: true },
  { id: "B05", status: false },
  { id: "B06", status: false },
];
 ---
<Layout>
  <div class="flex flex-col items-center bg-gray-900 text-white min-h-screen p-4">
    <h1 class="text-xl font-bold mb-4">Parking Slot</h1>
    <div class="flex gap-4 mb-8">
      <button class="px-3 py-2 bg-yellow-500 text-black rounded-md text-sm font-medium">G Floor</button>
      <button class="px-3 py-2 bg-gray-800 rounded-md text-sm hover:bg-gray-700">1st Floor</button>
      <button class="px-3 py-2 bg-gray-800 rounded-md text-sm hover:bg-gray-700">2nd Floor</button>
      <button class="px-3 py-2 bg-gray-800 rounded-md text-sm hover:bg-gray-700">3rd Floor</button>
    </div>

<div class="grid grid-cols-3 gap-6 w-full max-w-6xl">

   <!-- First column for A slots -->
      <div class="flex flex-col gap-6 justify-self-start">
             {parkingslots.slice(0, 6).map((slot) => (
          <div
            class={`flex flex-col items-center justify-center border border-dotted w-32 h-20 p-4 cursor-pointer ${
              slot.status ? "bg-gray-700 cursor-not-allowed" : "bg-gray-800 hover:bg-gray-700"
            }`}
          >
            {slot.status ? <img src="/car.jpg" alt="Car" class="w-10 h-10 object-cover" /> : null}
            <span class="mt-2 text-sm">{slot.id}</span>
          </div>
          ))}
      </div>

       <!-- Second column with the dashed line -->
    <div class="flex justify-center items-center">
     <div class="h-full border-2 border-dashed"></div>
    </div>

    <!-- Third column for B slots -->
    <div class= "flex flex-col gap-6 justify-self-end">
       {parkingslots.slice(6, 12).map((slot) => (
          <div
            class={`flex flex-col items-center justify-center border border-dotted w-32 h-20 p-4 cursor-pointer ${
              slot.status ? "bg-gray-700 cursor-not-allowed" : "bg-gray-800 hover:bg-gray-700"
            }`}
          >
            {slot.status ? <img src="/car.jpg" alt="Car" class="w-10 h-10" /> : null}
            <span class="mt-2 text-sm">{slot.id}</span>
          </div>
          ))}
    </div>
</div>
<footer>
<button class="mt-6 px-32 py-4 bg-sky-500 text-black rounded-md text-sm font-medium hover:bg-yellow-400">
      Next
    </button>
</footer>
  </div>
</Layout>

